html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: auto;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

.header_menu a {
  text-decoration: none;
  color: white;
}
.wrapper {
  margin: auto;
}
.header {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: #7d00ff;
}
.header_menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.header_menu_item {
  list-style-type: none;
  padding: 15px 0;
  color: white;
  font-size: 1.7rem;
}
.header_menu_item a:hover {
  border-bottom: 2px solid #ffff00;
  color: #ffff00;
}

.main_wrapper {
  padding-top: 80px;
}

.about_img {
  max-width: 200px;
  border-radius: 50%;
}
